In [1]:
import pandas as pd 

timings = pd.read_csv("timings.csv")

In [2]:
pattern = r'^([^_]+)_([^_]+)_(.+?)_aligned$'

timings[['Model', 'Detector', 'Metric']] = timings['task'].str.extract(pattern)

timings = timings.drop(columns=['task'])

In [3]:
cols = [col for col in timings.columns if col != 'time_taken_seconds']

# Append the time column at the end
new_order = cols + ['time_taken_seconds']

# Reorder the DataFrame columns
timings = timings[new_order]

timings.head()

     Model    Detector        Metric  time_taken_seconds
0  Facenet  retinaface     euclidean          730.283190
1  Facenet  retinaface  euclidean_l2          714.753853
2  Facenet  retinaface        cosine          721.540456
3  Facenet  centerface     euclidean          535.529412
4  Facenet  centerface  euclidean_l2          533.992078

In [7]:
model_stats = timings.groupby('Model')['time_taken_seconds'].agg(['mean']).sort_values('mean')
model_stats

                    mean
Model
VGG-Face      140.240969
OpenFace      284.824216
ArcFace       294.179761
GhostFaceNet  503.394115
Facenet       560.482647

In [8]:
detector_stats = timings.groupby('Detector')['time_taken_seconds'].agg(['mean']).sort_values('mean')
detector_stats

                  mean
Detector
yunet       247.020549
yolov8      326.836540
centerface  365.735489
retinaface  486.904788

In [9]:
metric_stats = timings.groupby('Metric')['time_taken_seconds'].agg(['mean']).sort_values('mean')
metric_stats

                    mean
Metric
euclidean_l2  355.718804
cosine        355.999224
euclidean     358.154997